browse.VC.db
.vscode
/build/base/centos6/x64/build/scripts
/build/base/ubuntu14/x64/build/scripts
/build/fdo/centos6/x64/build/scripts
/build/fdo/ubuntu14/x64/build/scripts
/build/mapguide/centos6/x64/build/scripts
/build/mapguide/ubuntu/x64/build/scripts
/sources/fdo
/sources/mapguide
/build_area/fdo
/build_area/mapguide
/tools/container_build_fdo.sh
/tools/fdo_rdbms_thirdparty.tar.gz
/artifacts/fdo
/artifacts/mapguide